$gray: rgb(136, 136, 136);
$pink: rgb(253, 83, 151);
$black: rgb(43, 43, 43);

//type
$color__body: $black;
$color__heading: $pink;
$color__description: $gray;

//buttons
$color__btn--primary: $pink;
$color__btn--primary-hover: $black;
