head
    title= Atomic
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
